.c-figure {
	&.-gallery {
		.c-img {
			+ {
				figcaption {
					@include mq(){
						margin-top: 30px;
					}

					@include mq(sp){
						margin-top: sp_size(20);
					}
				}
			}

			img {
				width: 100%;
			}
		}

		figcaption {
			+ {
				p {
					@include mq(){
						margin-top: 25px;
					}

					@include mq(sp){
						margin-top: sp_size(18);
					}
				}
			}

			@include font_serif;
			font-weight: bold;
			letter-spacing: 0.07em;

			@include mq(){
				font-size: 2rem;
			}

			@include mq(sp){
				font-size: sp_size(16);
			}
		}
	}

	&.-map {
		iframe {
			+ figcaption {
				@include mq(){
					margin-top: 15px;
				}

				@include mq(sp){
					margin-top: sp_size(10);
				}
			}

			@include mq(sp){
				max-width: 100%;
				max-height: 30vh;
			}
		}

		figcaption {
			@include mq(){
				text-align: center;
				font-size: 1.6rem;
			}

			@include mq(sp){
				text-align: right;
				font-size: sp_size(13);
			}
		}
	}

	&.-btn_wrapper {
		text-align: center;

		figcaption {
			+ .c-btn {
				margin-top: 30px;
			}

			font-size: 1.5rem;
			font-weight: bold;
		}
	}
}