ul {
	&.c-list {
		&.-cmn {
			+ {
				* {
					margin-top: 40px;

					@include mq(sp){
						margin-top: sp_size(20);
					}
				}

				.c-btn_wrapper {
					margin-top: 80px;

					@include mq(sp){
						margin-top: sp_size(40);
					}
				}
			}

			li {
				+ li {
					@include mq(){
						margin-top: 15px;
					}

					@include mq(sp){
						margin-top: sp_size(5);
					}
				}

				padding-left: 1em;
				line-height: 1.73333333;
				position: relative;

				@include mq(){
					font-size: 1.5rem;
				}

				@include mq(sp){
					font-size: sp_size(13);
				}

				&::before {
					content: "・";
					position: absolute;
					left: 0;
				}
			}
		}
	}
}

dl {
	&.c-list {
		&.-company {
			.c-row {
				+ .c-row {
					margin-top: 20px;

					@include mq(sp){
						margin-top: sp_size(10);
					}
				}

				display: flex;
			}

			@include mq(){
				font-size: 1.5rem;
				line-height: 1.73333333;
			}

			@include mq(sp){
				font-size: sp_size(13);
				line-height: 1.73333333;
			}

			dt {
				width: 5.5em;
				flex-shrink: 0;
			}
		}

		&.-history {
			@include mq(){
				font-size: 1.5rem;
				line-height: 1.73333333;
			}

			@include mq(sp){
				font-size: sp_size(13);
				line-height: 1.73333333;
			}

			.c-row {
				+ .c-row {
					@include mq(){
						margin-top: 20px;
					}

					@include mq(sp){
						border-top: 1px solid #ccc;
						margin-top: sp_size(10);
						padding-top: sp_size(10);
					}
				}

				@include mq(){
					display: flex;
				}
			}

			dt {
				@include mq(){
					width: 170px;
					flex-shrink: 0;
				}

				@include mq(sp){
					font-weight: 500;
				}
			}

			dd {
				@include mq(sp){
					margin-left: 1em;
				}
			}
		}

		&.-access {
			.c-row {
				+ .c-row {
					@include mq(){
						margin-top: 5px;
					}

					@include mq(sp){
						margin-top: sp_size(15);
					}
				}

				@include mq(){
					display: flex;
				}
			}

			@include mq(){
				font-size: 1.5rem;
				line-height: 1.73333333;
			}

			@include mq(sp){
				font-size: sp_size(13);
				line-height: 1.73333333;
			}

			dt {
				width: 3em;
				flex-shrink: 0;
				font-weight: bold;
			}

			dd {
				@include mq(sp){
					margin-left: 1em;
				}
			}
		}

		&.-facility {
			+ {
				* {
					margin-top: 24px;

					@include mq(sp){
						margin-top: sp_size(12);
					}
				}

				p.u-ta_c {
					margin-top: 60px;
				}
			}

			> .c-scope {
				+ .c-scope {
					margin-top: 1.5em;
				}

				font-size: 1.5rem;
				line-height: 1.8;

				@include mq(){
					display: flex;
				}

				> dt {
					font-weight: bold;

					@include mq(){
						margin-right: 30px;
						white-space: nowrap;
					}
				}

				&.-price {
					> dt {

						@include mq(){
							min-width: 160px;
						}
					}
				}

				&.-parking {
					> dt {
						@include mq(){
							min-width: 140px;
						}
					}
				}

				&.-office {
					> dt {
						@include mq(){
							min-width: 140px;
						}
					}
				}
			}
		}

		&.-price {
			.c-scope {
				display: flex;
				font-size: 1.5rem;
				line-height: 1.5;
				margin-bottom: 1em;

				> dt {
					min-width: 190px;
					white-space: nowrap;
				}

				> dd {
					display: flex;

					.c-price {
						min-width:65px;
						text-align: right;
						white-space: nowrap;
					}

					small {
						margin-left: 1.5em;
					}
				}
			}
		}
	}
}