@charset "UTF-8";
html {
  font-size: 62.5%;
}

html, body {
  width: 100%;
  position: relative;
  height: 100%;
  color: #292929;
}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
}

body {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}
body * {
  box-sizing: border-box;
}
body *::before, body *::after {
  content: none;
  box-sizing: border-box;
}

sup {
  font-size: 0.8em;
  vertical-align: super;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

body *, body *::before, body *::after {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
}

.l-wrapper {
  overflow: hidden;
}
@media (min-width: 769px), print {
  .l-wrapper {
    min-width: 1040px;
  }
  .l-wrapper .l-main {
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 768px) {
  .l-wrapper {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .l-wrapper .l-header {
    order: 1;
  }
  .l-wrapper .p-hansel {
    order: 3;
  }
  .l-wrapper .l-main {
    order: 2;
    padding-bottom: clamp(68.266666664px, calc(80 / 375 * 100vw), 80px);
  }
  .l-wrapper .l-footer {
    order: 4;
  }
}

.l-header {
  display: flex;
  align-items: center;
}
@media (min-width: 769px), print {
  .l-header {
    height: 92px;
    padding: 0 25px 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  .l-header {
    padding: clamp(8.533333333px, calc(10 / 375 * 100vw), 10px) clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px);
    justify-content: space-between;
  }
}
@media (min-width: 769px), print {
  .l-header .c-symbol {
    margin-right: 3vw;
  }
}
.l-header .c-symbol a {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Serif JP', serif;
  font-weight: 500;
  white-space: nowrap;
}
.l-header .c-symbol a *, .l-header .c-symbol a *::before, .l-header .c-symbol a *::after {
  font: inherit;
}
@media (min-width: 769px), print {
  .l-header .c-symbol small {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 768px) {
  .l-header .c-symbol small {
    font-size: clamp(8.533333333px, calc(10 / 375 * 100vw), 10px);
  }
}
.l-header .c-symbol b {
  letter-spacing: 0.07em;
}
@media (min-width: 769px), print {
  .l-header .c-symbol b {
    font-size: 3rem;
    margin-top: 6px;
  }
}
@media only screen and (max-width: 768px) {
  .l-header .c-symbol b {
    font-size: clamp(17.066666666px, calc(20 / 375 * 100vw), 20px);
    margin-top: clamp(2.5599999999px, calc(3 / 375 * 100vw), 3px);
  }
}

@media (min-width: 769px), print {
  .l-footer .c-inner.-subpage {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 769px), print {
  .l-footer .c-inner.-home .p-footer__access {
    box-shadow: none;
    padding: 0;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .l-footer .c-map + .p-footer__access {
    margin-top: clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px);
  }
}
@media only screen and (max-width: 768px) {
  .l-footer .c-map iframe {
    max-height: 35vh;
  }
}
.l-footer .c-copyright {
  background: #709398;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
@media (min-width: 769px), print {
  .l-footer .c-copyright {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .l-footer .c-copyright {
    font-size: clamp(10.2399999996px, calc(12 / 375 * 100vw), 12px);
  }
}

.c-block_slip {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 1px 0 0 1px;
}

@media (min-width: 769px), print {
  .c-section + .c-section {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 768px) {
  .c-section + .c-section {
    margin-top: clamp(51.199999998px, calc(60 / 375 * 100vw), 60px);
  }
}
@media (min-width: 769px), print {
  .c-section + .-bg_gray {
    margin-top: 50px;
  }
}
@media (min-width: 769px), print {
  .c-section {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (max-width: 768px) {
  .c-section {
    margin: 0 clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px);
  }
}
@media (min-width: 769px), print {
  .c-section .c-inner {
    margin-right: 80px;
    margin-left: 80px;
  }
}
.c-section.-bg_gray {
  background: #F8F8F8;
  width: auto;
}
@media (min-width: 769px), print {
  .c-section.-bg_gray {
    padding: 60px 0;
  }
}
@media only screen and (max-width: 768px) {
  .c-section.-bg_gray {
    padding: clamp(17.066666666px, calc(20 / 375 * 100vw), 20px) 0;
    margin-right: 0;
    margin-left: 0;
  }
}
.c-section.-bg_gray .c-inner {
  min-height: 100px;
}
@media (min-width: 769px), print {
  .c-section.-bg_gray .c-inner {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (max-width: 768px) {
  .c-section.-bg_gray .c-inner {
    margin-right: clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px);
    margin-left: clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px);
  }
}

.c-heading.-lv1 {
  position: relative;
  font-weight: bold;
  font-family: 'Noto Serif JP', serif;
  letter-spacing: 0.07em;
}
@media (min-width: 769px), print {
  .c-heading.-lv1 + * {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .c-heading.-lv1 + * {
    margin-top: clamp(21.3333333325px, calc(25 / 375 * 100vw), 25px);
  }
}
.c-heading.-lv1 *, .c-heading.-lv1 *::before, .c-heading.-lv1 *::after {
  font: inherit;
}
@media (min-width: 769px), print {
  .c-heading.-lv1 {
    font-size: 2.4rem;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .c-heading.-lv1 {
    font-size: clamp(13.6533333328px, calc(16 / 375 * 100vw), 16px);
    padding-bottom: clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px);
  }
}
.c-heading.-lv1 small {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: normal;
  letter-spacing: 0;
}
.c-heading.-lv1 small *, .c-heading.-lv1 small *::before, .c-heading.-lv1 small *::after {
  font: inherit;
}
@media (min-width: 769px), print {
  .c-heading.-lv1 small {
    margin-left: 10px;
    font-size: 1.5rem;
  }
}
.c-heading.-lv1::after {
  content: "";
  background: #D27624;
  width: 55px;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.c-heading.-lv2 {
  font-weight: 500;
}
@media (min-width: 769px), print {
  .c-heading.-lv2 + * {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .c-heading.-lv2 + * {
    margin-top: clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px);
  }
}
@media (min-width: 769px), print {
  .c-heading.-lv2 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 768px) {
  .c-heading.-lv2 {
    font-size: clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px);
  }
}

.l-main p {
  line-height: 1.73333333;
}
.l-main p + .c-grid {
  margin-top: 30px;
}
@media (min-width: 769px), print {
  .l-main p + .c-heading.-lv2 {
    margin-top: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .l-main p + .c-heading.-lv2 {
    margin-top: clamp(25.599999999px, calc(30 / 375 * 100vw), 30px);
  }
}
@media (min-width: 769px), print {
  .l-main p + .c-lead {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 768px) {
  .l-main p + .c-lead {
    margin-top: clamp(42.666666665px, calc(50 / 375 * 100vw), 50px);
  }
}
.l-main p + .c-img {
  margin-top: 40px;
}
@media only screen and (max-width: 768px) {
  .l-main p + .c-img {
    margin-top: clamp(17.066666666px, calc(20 / 375 * 100vw), 20px);
  }
}
.l-main p + .c-list {
  margin-top: 40px;
}
@media only screen and (max-width: 768px) {
  .l-main p + .c-list {
    margin-top: clamp(17.066666666px, calc(20 / 375 * 100vw), 20px);
  }
}
@media (min-width: 769px), print {
  .l-main p {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .l-main p {
    font-size: clamp(11.0933333329px, calc(13 / 375 * 100vw), 13px);
  }
}
@media (min-width: 769px), print {
  .l-main p.c-lead {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 768px) {
  .l-main p.c-lead {
    font-size: clamp(13.6533333328px, calc(16 / 375 * 100vw), 16px);
  }
}
@media (min-width: 769px), print {
  .l-main p.c-lead.-center {
    text-align: center;
  }
}

.c-grid {
  display: flex;
  flex-wrap: wrap;
}
.c-grid.-center {
  justify-content: center;
}
.c-grid .c-col {
  width: 100%;
}
@media (min-width: 769px), print {
  .c-grid .c-col[data-col*="pc:2-1"] {
    width: calc(100% / 2);
  }
}
@media (min-width: 769px), print {
  .c-grid[data-gap-col*="pc:20"] {
    margin-right: -21px;
  }
  .c-grid[data-gap-col*="pc:20"] .c-col[data-col*="pc:2-1"] {
    width: calc(((100% - 1px) / 2) - 20px);
    margin-right: 20px;
  }
  .c-grid[data-gap-col*="pc:20"] .c-col[data-col*="pc:3-1"] {
    width: calc(((100% - 1px) / 3) - 20px);
    margin-right: 20px;
  }
  .c-grid[data-gap-col*="pc:60"] {
    margin-right: -61px;
  }
  .c-grid[data-gap-col*="pc:60"] .c-col[data-col*="pc:2-1"] {
    width: calc(((100% - 1px) / 2) - 60px);
    margin-right: 60px;
  }
  .c-grid[data-gap-col*="pc:80"] {
    margin-right: -81px;
  }
  .c-grid[data-gap-col*="pc:80"] .c-col[data-col*="pc:2-1"] {
    width: calc(((100% - 1px) / 2) - 80px);
    margin-right: 80px;
  }
  .c-grid[data-gap-row*="pc:50"] {
    margin-bottom: -50px;
  }
  .c-grid[data-gap-row*="pc:50"] .c-col {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .c-grid[data-gap-row*="sp:25"] {
    margin-bottom: clamp(-21.3333333325px, calc(-25 / 375 * 100vw), -25px);
  }
  .c-grid[data-gap-row*="sp:25"] .c-col {
    margin-bottom: clamp(21.3333333325px, calc(25 / 375 * 100vw), 25px);
  }
  .c-grid[data-gap-row*="sp:50"] {
    margin-bottom: clamp(-42.666666665px, calc(-50 / 375 * 100vw), -50px);
  }
  .c-grid[data-gap-row*="sp:50"] .c-col {
    margin-bottom: clamp(42.666666665px, calc(50 / 375 * 100vw), 50px);
  }
}

ul.c-list.-cmn + * {
  margin-top: 40px;
}
@media only screen and (max-width: 768px) {
  ul.c-list.-cmn + * {
    margin-top: clamp(17.066666666px, calc(20 / 375 * 100vw), 20px);
  }
}
ul.c-list.-cmn + .c-btn_wrapper {
  margin-top: 80px;
}
@media only screen and (max-width: 768px) {
  ul.c-list.-cmn + .c-btn_wrapper {
    margin-top: clamp(34.133333332px, calc(40 / 375 * 100vw), 40px);
  }
}
ul.c-list.-cmn li {
  padding-left: 1em;
  line-height: 1.73333333;
  position: relative;
}
@media (min-width: 769px), print {
  ul.c-list.-cmn li + li {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 768px) {
  ul.c-list.-cmn li + li {
    margin-top: clamp(4.2666666665px, calc(5 / 375 * 100vw), 5px);
  }
}
@media (min-width: 769px), print {
  ul.c-list.-cmn li {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  ul.c-list.-cmn li {
    font-size: clamp(11.0933333329px, calc(13 / 375 * 100vw), 13px);
  }
}
ul.c-list.-cmn li::before {
  content: "・";
  position: absolute;
  left: 0;
}

dl.c-list.-company .c-row {
  display: flex;
}
dl.c-list.-company .c-row + .c-row {
  margin-top: 20px;
}
@media only screen and (max-width: 768px) {
  dl.c-list.-company .c-row + .c-row {
    margin-top: clamp(8.533333333px, calc(10 / 375 * 100vw), 10px);
  }
}
@media (min-width: 769px), print {
  dl.c-list.-company {
    font-size: 1.5rem;
    line-height: 1.73333333;
  }
}
@media only screen and (max-width: 768px) {
  dl.c-list.-company {
    font-size: clamp(11.0933333329px, calc(13 / 375 * 100vw), 13px);
    line-height: 1.73333333;
  }
}
dl.c-list.-company dt {
  width: 5.5em;
  flex-shrink: 0;
}
@media (min-width: 769px), print {
  dl.c-list.-history {
    font-size: 1.5rem;
    line-height: 1.73333333;
  }
}
@media only screen and (max-width: 768px) {
  dl.c-list.-history {
    font-size: clamp(11.0933333329px, calc(13 / 375 * 100vw), 13px);
    line-height: 1.73333333;
  }
}
@media (min-width: 769px), print {
  dl.c-list.-history .c-row + .c-row {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  dl.c-list.-history .c-row + .c-row {
    border-top: 1px solid #ccc;
    margin-top: clamp(8.533333333px, calc(10 / 375 * 100vw), 10px);
    padding-top: clamp(8.533333333px, calc(10 / 375 * 100vw), 10px);
  }
}
@media (min-width: 769px), print {
  dl.c-list.-history .c-row {
    display: flex;
  }
}
@media (min-width: 769px), print {
  dl.c-list.-history dt {
    width: 170px;
    flex-shrink: 0;
  }
}
@media only screen and (max-width: 768px) {
  dl.c-list.-history dt {
    font-weight: 500;
  }
}
@media only screen and (max-width: 768px) {
  dl.c-list.-history dd {
    margin-left: 1em;
  }
}
@media (min-width: 769px), print {
  dl.c-list.-access .c-row + .c-row {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 768px) {
  dl.c-list.-access .c-row + .c-row {
    margin-top: clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px);
  }
}
@media (min-width: 769px), print {
  dl.c-list.-access .c-row {
    display: flex;
  }
}
@media (min-width: 769px), print {
  dl.c-list.-access {
    font-size: 1.5rem;
    line-height: 1.73333333;
  }
}
@media only screen and (max-width: 768px) {
  dl.c-list.-access {
    font-size: clamp(11.0933333329px, calc(13 / 375 * 100vw), 13px);
    line-height: 1.73333333;
  }
}
dl.c-list.-access dt {
  width: 3em;
  flex-shrink: 0;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  dl.c-list.-access dd {
    margin-left: 1em;
  }
}
dl.c-list.-facility + * {
  margin-top: 24px;
}
@media only screen and (max-width: 768px) {
  dl.c-list.-facility + * {
    margin-top: clamp(10.2399999996px, calc(12 / 375 * 100vw), 12px);
  }
}
dl.c-list.-facility + p.u-ta_c {
  margin-top: 60px;
}
dl.c-list.-facility > .c-scope {
  font-size: 1.5rem;
  line-height: 1.8;
}
dl.c-list.-facility > .c-scope + .c-scope {
  margin-top: 1.5em;
}
@media (min-width: 769px), print {
  dl.c-list.-facility > .c-scope {
    display: flex;
  }
}
dl.c-list.-facility > .c-scope > dt {
  font-weight: bold;
}
@media (min-width: 769px), print {
  dl.c-list.-facility > .c-scope > dt {
    margin-right: 30px;
    white-space: nowrap;
  }
}
@media (min-width: 769px), print {
  dl.c-list.-facility > .c-scope.-price > dt {
    min-width: 160px;
  }
}
@media (min-width: 769px), print {
  dl.c-list.-facility > .c-scope.-parking > dt {
    min-width: 140px;
  }
}
@media (min-width: 769px), print {
  dl.c-list.-facility > .c-scope.-office > dt {
    min-width: 140px;
  }
}
dl.c-list.-price .c-scope {
  display: flex;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1em;
}
dl.c-list.-price .c-scope > dt {
  min-width: 190px;
  white-space: nowrap;
}
dl.c-list.-price .c-scope > dd {
  display: flex;
}
dl.c-list.-price .c-scope > dd .c-price {
  min-width: 65px;
  text-align: right;
  white-space: nowrap;
}
dl.c-list.-price .c-scope > dd small {
  margin-left: 1.5em;
}

@media (min-width: 769px), print {
  .c-figure.-gallery .c-img + figcaption {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .c-figure.-gallery .c-img + figcaption {
    margin-top: clamp(17.066666666px, calc(20 / 375 * 100vw), 20px);
  }
}
.c-figure.-gallery .c-img img {
  width: 100%;
}
.c-figure.-gallery figcaption {
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  letter-spacing: 0.07em;
}
@media (min-width: 769px), print {
  .c-figure.-gallery figcaption + p {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .c-figure.-gallery figcaption + p {
    margin-top: clamp(15.3599999994px, calc(18 / 375 * 100vw), 18px);
  }
}
.c-figure.-gallery figcaption *, .c-figure.-gallery figcaption *::before, .c-figure.-gallery figcaption *::after {
  font: inherit;
}
@media (min-width: 769px), print {
  .c-figure.-gallery figcaption {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .c-figure.-gallery figcaption {
    font-size: clamp(13.6533333328px, calc(16 / 375 * 100vw), 16px);
  }
}
@media (min-width: 769px), print {
  .c-figure.-map iframe + figcaption {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .c-figure.-map iframe + figcaption {
    margin-top: clamp(8.533333333px, calc(10 / 375 * 100vw), 10px);
  }
}
@media only screen and (max-width: 768px) {
  .c-figure.-map iframe {
    max-width: 100%;
    max-height: 30vh;
  }
}
@media (min-width: 769px), print {
  .c-figure.-map figcaption {
    text-align: center;
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 768px) {
  .c-figure.-map figcaption {
    text-align: right;
    font-size: clamp(11.0933333329px, calc(13 / 375 * 100vw), 13px);
  }
}
.c-figure.-btn_wrapper {
  text-align: center;
}
.c-figure.-btn_wrapper figcaption {
  font-size: 1.5rem;
  font-weight: bold;
}
.c-figure.-btn_wrapper figcaption + .c-btn {
  margin-top: 30px;
}

.c-img img {
  max-width: 100%;
}

.c-btn.-cmn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #709398;
  color: white;
  height: 84px;
  min-width: 370px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  padding: 15px;
}
.c-btn_wrapper {
  text-align: center;
}
* + .c-btn_wrapper {
  margin-top: 100px;
}

.c-link.-cmn {
  text-decoration: underline;
}
.c-link.-cmn:hover {
  text-decoration: none;
}

@media (min-width: 769px), print {
  .p-global_nav {
    flex: 1;
    display: flex;
  }
}
.p-global_nav__open {
  display: block;
  width: clamp(29.8666666655px, calc(35 / 375 * 100vw), 35px);
  height: clamp(25.599999999px, calc(30 / 375 * 100vw), 30px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  position: fixed;
  top: clamp(8.533333333px, calc(10 / 375 * 100vw), 10px);
  right: clamp(8.533333333px, calc(10 / 375 * 100vw), 10px);
  background: white;
  z-index: 2;
}
@media (min-width: 769px), print {
  .p-global_nav__open {
    display: none;
  }
}
.p-global_nav__open span, .p-global_nav__open::before, .p-global_nav__open::after {
  content: "";
  width: 25px;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.p-global_nav__open::before {
  top: clamp(-4.2666666665px, calc(-5 / 375 * 100vw), -5px);
  bottom: clamp(4.2666666665px, calc(5 / 375 * 100vw), 5px);
}
.p-global_nav__open::after {
  top: clamp(4.2666666665px, calc(5 / 375 * 100vw), 5px);
  bottom: clamp(-4.2666666665px, calc(-5 / 375 * 100vw), -5px);
}
@media (min-width: 769px), print {
  .p-global_nav__close {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .p-global_nav__close {
    position: absolute;
    display: block;
    width: clamp(29.8666666655px, calc(35 / 375 * 100vw), 35px);
    height: clamp(25.599999999px, calc(30 / 375 * 100vw), 30px);
    border-radius: 3px;
    top: clamp(8.533333333px, calc(10 / 375 * 100vw), 10px);
    right: clamp(8.533333333px, calc(10 / 375 * 100vw), 10px);
    background: white;
    z-index: 2;
  }
  .p-global_nav__close::before, .p-global_nav__close::after {
    content: "";
    width: 25px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: rotate(45deg);
  }
  .p-global_nav__close::after {
    transform: rotate(-45deg);
  }
}
@media (min-width: 769px), print {
  .p-global_nav__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 950px;
    min-width: 800px;
    margin-left: auto;
  }
}
@media only screen and (max-width: 768px) {
  .p-global_nav__body {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background: white;
    z-index: 3;
    padding: clamp(51.199999998px, calc(60 / 375 * 100vw), 60px) clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px) clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px);
    transform: translateY(-100%);
    transition: .3s;
    opacity: 0;
  }
}
.p-global_nav__status {
  position: fixed;
  top: 0;
  left: 0;
  appearance: none;
  transform: translate(-100%, -100%);
}
.p-global_nav__status:checked ~ .p-global_nav__body {
  transform: translateY(0);
  opacity: 1;
}
.p-global_nav__list {
  font-family: 'Noto Serif JP', serif;
}
.p-global_nav__list *, .p-global_nav__list *::before, .p-global_nav__list *::after {
  font: inherit;
}
@media (min-width: 769px), print {
  .p-global_nav__list {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    max-width: 700px;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .p-global_nav__list {
    font-size: clamp(15.3599999994px, calc(18 / 375 * 100vw), 18px);
  }
}
@media only screen and (max-width: 768px) {
  .p-global_nav__item {
    border-bottom: 1px solid #DDDDDD;
  }
}
.p-global_nav__item a {
  position: relative;
  white-space: nowrap;
}
@media (min-width: 769px), print {
  .p-global_nav__item a {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .p-global_nav__item a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: clamp(38.3999999985px, calc(45 / 375 * 100vw), 45px);
    padding: clamp(4.2666666665px, calc(5 / 375 * 100vw), 5px) clamp(8.533333333px, calc(10 / 375 * 100vw), 10px);
  }
}
.p-global_nav__item a::after {
  content: "";
}
@media (min-width: 769px), print {
  .p-global_nav__item a::after {
    height: 1px;
    background: #00359A;
    right: 0;
    top: calc(100% + 8px);
    left: 0;
    margin: auto;
    position: absolute;
    width: 0;
    transition: .2s;
  }
}
@media only screen and (max-width: 768px) {
  .p-global_nav__item a::after {
    width: clamp(8.533333333px, calc(10 / 375 * 100vw), 10px);
    height: clamp(8.533333333px, calc(10 / 375 * 100vw), 10px);
    display: block;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
  }
}
@media (min-width: 769px), print {
  .p-global_nav__item a.is-current::after, .p-global_nav__item a:hover::after {
    width: 100%;
  }
}
@media (min-width: 769px), print {
  .p-global_nav__access {
    margin-left: 3vw;
    display: flex;
  }
}
@media only screen and (max-width: 768px) {
  .p-global_nav__access {
    margin-top: clamp(42.666666665px, calc(50 / 375 * 100vw), 50px);
    display: flex;
    justify-content: center;
  }
}
.p-global_nav__access .c-btn {
  height: 60px;
  display: inline-flex;
  border: 1px solid #DDDDDD;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  transition: .2s;
  white-space: nowrap;
}
.p-global_nav__access .c-btn small {
  font-size: 1.2rem;
  font-weight: 500;
}
.p-global_nav__access .c-btn b {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  margin-top: 3px;
  color: #00359A;
}
.p-global_nav__access .c-btn b *, .p-global_nav__access .c-btn b *::before, .p-global_nav__access .c-btn b *::after {
  font: inherit;
}
@media only screen and (max-width: 768px) {
  .p-global_nav__access .c-btn b {
    font-size: clamp(23.8933333324px, calc(28 / 375 * 100vw), 28px);
  }
}
@media (min-width: 769px), print {
  .p-global_nav__access .c-btn.-phone {
    padding: 3px 25px 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  .p-global_nav__access .c-btn.-phone {
    padding: 3px 20px 0;
  }
}
.p-global_nav__access .c-btn.-mail {
  width: 60px;
  align-items: center;
  margin-left: 10px;
}
.p-global_nav__access .c-btn.-mail b {
  margin-top: 5px;
}
.p-global_nav__access .c-btn:hover {
  opacity: .7;
}

.p-hansel + .l-main .p-page_title {
  margin-top: -45px;
}
.p-hansel ~ .l-footer {
  padding-top: clamp(42.666666665px, calc(50 / 375 * 100vw), 50px);
}
@media (min-width: 769px), print {
  .p-hansel {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  .p-hansel {
    padding: clamp(8.533333333px, calc(10 / 375 * 100vw), 10px) clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px);
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
  }
}
.p-hansel__body {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  font-family: 'Noto Serif JP', serif;
  color: #484848;
}
.p-hansel__body *, .p-hansel__body *::before, .p-hansel__body *::after {
  font: inherit;
}
@media (min-width: 769px), print {
  .p-hansel__body {
    height: 15px;
    font-size: 1.2rem;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .p-hansel__body {
    font-size: clamp(10.2399999996px, calc(12 / 375 * 100vw), 12px);
  }
}
.p-hansel__item + li::before {
  content: ">";
  margin: 0 0.5em;
}
.p-hansel__item a:hover {
  text-decoration: underline;
}

.p-footer__access {
  text-align: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}
@media (min-width: 769px), print {
  .p-footer__access + .p-footer__inner_link {
    margin-top: 100px;
  }
}
@media (min-width: 769px), print {
  .p-footer__access {
    padding: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .p-footer__access {
    margin: 0 clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px);
    padding: clamp(17.066666666px, calc(20 / 375 * 100vw), 20px);
    border-radius: clamp(6.8266666664px, calc(8 / 375 * 100vw), 8px);
  }
}
.p-footer__access .c-lead + dl {
  margin-top: 25px;
}
@media (min-width: 769px), print {
  .p-footer__access .c-lead {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 768px) {
  .p-footer__access .c-lead {
    font-size: clamp(13.6533333328px, calc(16 / 375 * 100vw), 16px);
    line-height: 1.4;
  }
}
@media (min-width: 769px), print {
  .p-footer__access dl {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
@media only screen and (max-width: 768px) {
  .p-footer__access dl {
    margin-top: clamp(21.3333333325px, calc(25 / 375 * 100vw), 25px);
  }
}
@media (min-width: 769px), print {
  .p-footer__access dl dt {
    font-size: 1.5rem;
    margin-right: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .p-footer__access dl dt {
    font-size: clamp(11.0933333329px, calc(13 / 375 * 100vw), 13px);
    margin-right: clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px);
  }
}
.p-footer__access dl .c-phone {
  display: flex;
  align-items: baseline;
  margin-right: 20px;
  justify-content: center;
}
.p-footer__access dl .c-phone dd {
  font-family: 'Roboto', sans-serif;
}
.p-footer__access dl .c-phone dd *, .p-footer__access dl .c-phone dd *::before, .p-footer__access dl .c-phone dd *::after {
  font: inherit;
}
.p-footer__access dl .c-phone dd a {
  color: #00359A;
  text-decoration: none;
}
@media (min-width: 769px), print {
  .p-footer__access dl .c-phone dd {
    font-size: 4.4rem;
  }
}
@media only screen and (max-width: 768px) {
  .p-footer__access dl .c-phone dd {
    font-size: clamp(25.599999999px, calc(30 / 375 * 100vw), 30px);
  }
}
.p-footer__access dl .c-fax {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .p-footer__access dl .c-fax {
    margin-top: clamp(8.533333333px, calc(10 / 375 * 100vw), 10px);
  }
}
.p-footer__access dl .c-fax dd {
  font-family: 'Roboto', sans-serif;
}
.p-footer__access dl .c-fax dd *, .p-footer__access dl .c-fax dd *::before, .p-footer__access dl .c-fax dd *::after {
  font: inherit;
}
@media (min-width: 769px), print {
  .p-footer__access dl .c-fax dd {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .p-footer__access dl .c-fax dd {
    font-size: clamp(20.4799999992px, calc(24 / 375 * 100vw), 24px);
  }
}
.p-footer__access dl .c-mail {
  display: flex;
  align-items: baseline;
  margin-right: 20px;
  justify-content: center;
}
.p-footer__access dl .c-mail dd {
  font-family: 'Roboto', sans-serif;
}
.p-footer__access dl .c-mail dd *, .p-footer__access dl .c-mail dd *::before, .p-footer__access dl .c-mail dd *::after {
  font: inherit;
}
.p-footer__access dl .c-mail dd a {
  color: #00359A;
  text-decoration: none;
}
@media (min-width: 769px), print {
  .p-footer__access dl .c-mail dd {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .p-footer__access dl .c-mail dd {
    font-size: clamp(20.4799999992px, calc(24 / 375 * 100vw), 24px);
  }
}
.p-footer__access .c-annotation {
  font-size: 1.3rem;
  margin-top: 13px;
}
.p-footer__access .c-annotation + dl {
  margin-top: 20px;
}
@media only screen and (max-width: 768px) {
  .p-footer__access .c-annotation {
    font-size: clamp(10.2399999996px, calc(12 / 375 * 100vw), 12px);
  }
}
@media (min-width: 769px), print {
  .p-footer__inner_link + .p-footer__organization_info {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 768px) {
  .p-footer__inner_link + .p-footer__organization_info {
    margin-top: clamp(42.666666665px, calc(50 / 375 * 100vw), 50px);
  }
}
@media only screen and (max-width: 768px) {
  .p-footer__inner_link {
    display: none;
  }
}
.p-footer__inner_link ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -20px;
  margin-bottom: -20px;
}
.p-footer__inner_link li {
  margin-right: 20px;
}
@media (min-width: 769px), print {
  .p-footer__inner_link li {
    width: calc(100% / 4 - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
.p-footer__inner_link a {
  height: 56px;
  display: flex;
  align-items: center;
  background: #709398;
  color: white;
  padding: 0 20px;
  font-size: 1.5rem;
  font-family: 'Noto Serif JP', serif;
  border-radius: 8px;
  transition: .2s;
  position: relative;
}
.p-footer__inner_link a *, .p-footer__inner_link a *::before, .p-footer__inner_link a *::after {
  font: inherit;
}
.p-footer__inner_link a::after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  margin: auto;
  transition: .2s;
}
.p-footer__inner_link a:hover {
  opacity: .7;
}
.p-footer__inner_link a:hover::after {
  right: 15px;
}
@media (min-width: 769px), print {
  .p-footer__organization_info + .c-map {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .p-footer__organization_info + .c-map {
    margin-top: clamp(42.666666665px, calc(50 / 375 * 100vw), 50px);
  }
}
.p-footer__organization_info .c-symbol {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.p-footer__organization_info .c-symbol small {
  font-family: 'Noto Serif JP', serif;
}
.p-footer__organization_info .c-symbol small *, .p-footer__organization_info .c-symbol small *::before, .p-footer__organization_info .c-symbol small *::after {
  font: inherit;
}
@media (min-width: 769px), print {
  .p-footer__organization_info .c-symbol small {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 768px) {
  .p-footer__organization_info .c-symbol small {
    font-size: clamp(8.533333333px, calc(10 / 375 * 100vw), 10px);
  }
}
.p-footer__organization_info .c-symbol b {
  font-family: 'Noto Serif JP', serif;
  font-weight: 500;
  letter-spacing: 0.07em;
}
.p-footer__organization_info .c-symbol b *, .p-footer__organization_info .c-symbol b *::before, .p-footer__organization_info .c-symbol b *::after {
  font: inherit;
}
@media (min-width: 769px), print {
  .p-footer__organization_info .c-symbol b {
    font-size: 2.8rem;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .p-footer__organization_info .c-symbol b {
    font-size: clamp(17.066666666px, calc(20 / 375 * 100vw), 20px);
    margin-left: clamp(8.533333333px, calc(10 / 375 * 100vw), 10px);
  }
}
.p-footer__organization_info .c-address {
  text-align: center;
}
@media (min-width: 769px), print {
  .p-footer__organization_info .c-address {
    margin-top: 25px;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .p-footer__organization_info .c-address {
    margin-top: clamp(17.066666666px, calc(20 / 375 * 100vw), 20px);
    font-size: clamp(11.0933333329px, calc(13 / 375 * 100vw), 13px);
    line-height: 1.6;
  }
}
.p-footer__social {
  text-align: center;
}
@media (min-width: 769px), print {
  .p-footer__social {
    margin: 100px 0;
  }
}
@media only screen and (max-width: 768px) {
  .p-footer__social {
    margin: clamp(42.666666665px, calc(50 / 375 * 100vw), 50px) 0;
  }
}
@media (min-width: 769px), print {
  .p-footer__social figcaption {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .p-footer__social figcaption {
    font-size: clamp(11.0933333329px, calc(13 / 375 * 100vw), 13px);
    margin-bottom: clamp(17.066666666px, calc(20 / 375 * 100vw), 20px);
  }
}
.p-footer__social ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 769px), print {
  .p-footer__social li + li {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .p-footer__social li + li {
    margin-left: clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px);
  }
}
@media (min-width: 769px), print {
  .p-footer__social li {
    width: 35px;
  }
}
@media only screen and (max-width: 768px) {
  .p-footer__social li {
    width: clamp(29.8666666655px, calc(35 / 375 * 100vw), 35px);
  }
}
@media (min-width: 769px), print {
  .p-footer__social a {
    transition: .2s;
  }
  .p-footer__social a:hover {
    opacity: .7;
  }
}
.p-footer__social img {
  width: 100%;
}

.p-page_header {
  display: flex;
  align-items: flex-end;
  background-image: url(/assets/img/cmn/bg_page_header.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}
@media (min-width: 769px), print {
  .p-page_header {
    height: 195px;
    justify-content: center;
    margin-bottom: 90px;
    background-size: auto 195px;
  }
}
@media only screen and (max-width: 768px) {
  .p-page_header {
    height: clamp(68.266666664px, calc(80 / 375 * 100vw), 80px);
    margin-bottom: clamp(34.133333332px, calc(40 / 375 * 100vw), 40px);
    background-size: auto clamp(68.266666664px, calc(80 / 375 * 100vw), 80px);
  }
}
.p-page_header .c-heading {
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  letter-spacing: 0.07em;
}
.p-page_header .c-heading *, .p-page_header .c-heading *::before, .p-page_header .c-heading *::after {
  font: inherit;
}
@media (min-width: 769px), print {
  .p-page_header .c-heading {
    width: 1000px;
    margin-bottom: 25px;
    font-size: 3.6rem;
  }
}
@media only screen and (max-width: 768px) {
  .p-page_header .c-heading {
    margin: 0 clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px) clamp(8.533333333px, calc(10 / 375 * 100vw), 10px);
    font-size: clamp(17.066666666px, calc(20 / 375 * 100vw), 20px);
  }
}

@media (min-width: 769px), print {
  .p-access_map iframe + dl {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .p-access_map iframe + dl {
    margin-top: clamp(17.066666666px, calc(20 / 375 * 100vw), 20px);
  }
}
@media only screen and (max-width: 768px) {
  .p-access_map iframe {
    max-width: 100%;
    max-height: 30vh;
  }
}
.p-access_map .c-list .c-row {
  line-height: 1.73333333;
}
@media (min-width: 769px), print {
  .p-access_map .c-list .c-row + .c-row {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .p-access_map .c-list .c-row + .c-row {
    margin-top: clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px);
  }
}
@media (min-width: 769px), print {
  .p-access_map .c-list .c-row {
    display: flex;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .p-access_map .c-list .c-row {
    font-size: clamp(11.0933333329px, calc(13 / 375 * 100vw), 13px);
  }
}
@media (min-width: 769px), print {
  .p-access_map .c-list dt {
    width: 5.5em;
  }
}
@media only screen and (max-width: 768px) {
  .p-access_map .c-list dt {
    font-weight: bold;
  }
}
.p-access_map .c-list dd {
  margin-left: 1em;
}

.p-home {
  background-image: url(/assets/img/home/bg_sub.png), url(/assets/img/home/bg_main.jpg);
  background-repeat: no-repeat, no-repeat;
}
@media (min-width: 769px), print {
  .p-home {
    padding-top: 300px;
    padding-bottom: 40px;
    background-size: auto 293px, 100%;
    background-position: center 23px, center top;
  }
}
@media (max-width: 1440px) {
  .p-home {
    background-image: url(/assets/img/home/bg_sub_sp.png), url(/assets/img/home/bg_main.jpg);
    background-size: 100%, 1440px;
  }
}
@media only screen and (max-width: 768px) {
  .p-home {
    padding-top: clamp(85.33333333px, calc(100 / 375 * 100vw), 100px);
    background-size: 100%, auto 100vw;
    background-position: center 2vw, center top;
  }
}
.p-home__lead {
  font-family: 'Noto Serif JP', serif;
}
.p-home__lead *, .p-home__lead *::before, .p-home__lead *::after {
  font: inherit;
}
@media (min-width: 769px), print {
  .p-home__lead {
    width: 880px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 769px), print {
  .p-home__lead p {
    font-size: 1.8rem;
    line-height: 2.33333333;
  }
}
@media only screen and (max-width: 768px) {
  .p-home__lead p {
    margin: 0 clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px);
  }
}
.p-home__lead p.c-lead {
  line-height: 2.14285714;
  font-weight: 500;
}
@media (min-width: 769px), print {
  .p-home__lead p.c-lead + p {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .p-home__lead p.c-lead + p {
    margin-top: 5vw;
  }
}
@media (min-width: 769px), print {
  .p-home__lead p.c-lead {
    font-size: 2.8rem;
    white-space: nowrap;
    letter-spacing: 0.33em;
  }
}
@media only screen and (max-width: 768px) {
  .p-home__lead p.c-lead {
    letter-spacing: 0.2em;
    text-align: justify;
  }
}
@media (min-width: 769px), print {
  .p-home__slider {
    width: 1000px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (max-width: 768px) {
  .p-home__slider {
    margin: clamp(25.599999999px, calc(30 / 375 * 100vw), 30px) clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px) 0;
  }
}
.p-home__slider .c-figure {
  display: flex;
}
@media (min-width: 769px), print {
  .p-home__slider .c-figure {
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .p-home__slider .c-figure {
    flex-direction: column;
  }
}
.p-home__slider .c-figure .c-img {
  width: 100%;
}
@media (min-width: 769px), print {
  .p-home__slider .c-figure .c-img {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .p-home__slider .c-figure .c-img {
    margin-bottom: clamp(8.533333333px, calc(10 / 375 * 100vw), 10px);
  }
}
.p-home__slider .c-figure b {
  font-weight: 500;
}
@media (min-width: 769px), print {
  .p-home__slider .c-figure b + figcaption {
    margin-left: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .p-home__slider .c-figure b + figcaption {
    margin-top: clamp(2.5599999999px, calc(3 / 375 * 100vw), 3px);
  }
}
@media (min-width: 769px), print {
  .p-home__slider .c-figure b {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 768px) {
  .p-home__slider .c-figure b {
    font-size: clamp(11.9466666662px, calc(14 / 375 * 100vw), 14px);
    line-height: 1.6;
  }
}
@media (min-width: 769px), print {
  .p-home__slider .c-figure figcaption {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .p-home__slider .c-figure figcaption {
    font-size: clamp(11.0933333329px, calc(13 / 375 * 100vw), 13px);
    line-height: 1.3;
  }
}
.p-home__slider .slick-dots li {
  width: 8px;
  height: 8px;
  margin: 0 3px;
  line-height: 1;
}
.p-home__slider .slick-dots li button {
  width: 8px;
  height: 8px;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.p-home__slider .slick-dots li button::before {
  width: 8px;
  height: 8px;
  opacity: 1;
  color: #DDDDDD;
  line-height: 1;
}
.p-home__slider .slick-dots li.slick-active button::before {
  color: #0058FF;
}
@media (min-width: 769px), print {
  .p-home__local_link {
    width: 1000px;
    margin: 100px auto 60px;
  }
}
@media only screen and (max-width: 768px) {
  .p-home__local_link {
    margin: clamp(42.666666665px, calc(50 / 375 * 100vw), 50px) clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px);
  }
}
.p-home__local_link a {
  display: block;
  border-radius: 8px;
  overflow: hidden;
}
.p-home__local_link figcaption {
  background: #709398;
  color: white;
  font-size: 1.8rem;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
@media only screen and (max-width: 768px) {
  .p-home__local_link figcaption {
    height: clamp(34.133333332px, calc(40 / 375 * 100vw), 40px);
    font-size: clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px);
    padding: 0 clamp(12.7999999995px, calc(15 / 375 * 100vw), 15px);
  }
}
.p-home__local_link figcaption::after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
}

.p-video.-youtube {
  padding-top: 56.25%;
  position: relative;
}
.p-video.-youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-slider img {
  max-width: 100%;
}

@media (min-width: 769px), print {
  ._sp {
    display: none !important;
  }

  [data-style*="pc:ta_c"] {
    text-align: center !important;
  }
}
@media only screen and (max-width: 768px) {
  ._pc {
    display: none !important;
  }
}
.u-ta_c {
  text-align: center !important;
}

/*# sourceMappingURL=style.css.map */
