@include mq(){
	._sp {
		display: none !important;
	}

	[data-style*="pc:ta_c"] {
		text-align: center !important;
	}
}

@include mq(sp){
	._pc {
		display: none !important;
	}
}

.u-ta_c {
	text-align: center !important;
}